# ==============================
# Python
# ==============================

__pycache__/
*.pyc
*.pyo
*.pyd

# Python logs
*.log

# Runtime logs
performance_logs.csv
query_logs.csv

# ==============================
# Node / React
# ==============================

node_modules/
dist/
build/

# ==============================
# Environment variables
# ==============================

.env
.env.*

# ==============================
# IDE files
# ==============================

.vscode/
.idea/

# ==============================
# OS files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Docker temp files
# ==============================

docker-data/

# ==============================
# Cache
# ==============================

.cache/

# ==============================
# Python virtual env
# ==============================

venv/
.envrc

# ==============================
# Test / temp files
# ==============================

*.sqlite
*.db
*.bak
