@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL BODY STYLING */

body {
  @apply font-sans bg-ey-light text-ey-black antialiased;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
